.element__like{
height:18px;
width: 20.7px;
margin-top:6px;
background-image: url(../../../images/heart.svg);
background-color: transparent;
padding: 0;
cursor: pointer;
text-decoration: none;
display:block;
border: none;
}

.element__like:hover{
    opacity: 0.5;
}

.element__like:active{
    background: #000000;
}