.profile__edit-button{
    border:1px solid white;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-top:37px;
    text-align: center;
    padding:0;
    background-color: black;
    cursor: pointer;
}

.profile__edit-button:hover{
    opacity: 0.6;
}

@media screen and (max-width:320px){
    .profile__edit-button{
        max-width: 18px;
        max-height: 18px;
        margin-top: 36px;
    }
}