.profile__about{
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin:0;
}

@media screen and (max-width:320px){
    .profile__about{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}