.profile{
    max-width: 880px;
    margin:40px 199px 51px;
    display:flex;
}

@media screen and (max-width:1060px){
    .profile{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:320px){
    .profile{
        max-width: 320px;
        display:block;
        margin:0;
        margin-top:42px;
    }
}