.profile__add-button{
    margin-left:auto;
    margin-top:35px;
    max-height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    padding:0;
    border:2px solid white;
    border-radius: 2px;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media screen and (max-width:1060px){
    .profile__add-button{
        margin-left:0;
        align-self: center;
    }
}

@media screen and (max-width:320px){
    .profile__add-button{
        width: 278px;
        margin:auto;
        margin-bottom: 36px;
    }
}