.profile__add-button{
    border:2px solid white;
    border-radius: 2px;
    margin-left:246px;
    margin-top:35px;
    background-image: url(../../../images/Vector2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    max-height: 50px;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media screen and (max-width:320px){
    .profile__add-button{
        align-self: center;
        margin:auto;
        width: 282px;
        padding-top:50px;
        margin-bottom: 36px;
    }
}