.elements{
    max-width: 880px;
    display:grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    column-gap: 17px;
    row-gap: 21px;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}

@media screen and (max-width:1279px){
    .elements{
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(4, 361px);
    }
}

@media screen and (max-width:650px){
    .elements{
        max-width: 320px;
        grid-template-columns: 282px;
        grid-template-rows: repeat(6, 361px);
        row-gap:20px;
        column-gap: 0;
        margin:auto auto 20px;
    }
}