@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);

@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/profile-info/__about/profile-info__about.css);
@import url(../blocks/profile-info/__name/profile-info__name.css);
@import url(../blocks/profile-info/__edit-button/profile-info__edit-button.css);
@import url(../blocks/profile-info/__content/profile-info__content.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__header/element__header.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__bottom/element__bottom.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__greyline/popup__greyline.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__about/popup__about.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__cross/popup__cross.css);
@import url(../blocks/popup/popup_opened.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
