.profile__add-button-cross{
    width:22px;
    height: 22px;
    margin-top:14px;
    margin-bottom: 14px;
    margin-left: 64px;
    margin-right: 64px;
}

@media screen and (max-width:320px){
    .profile__add-button-cross{
        width: 16px;
        height: 16px;
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left:131px;
        margin-right: 131px;
    }
}