.profile__add-button-cross{
    width:22px;
    height: 22px;
    margin-top:14px;
    margin-bottom: 14px;
    margin-left: 64px;
    margin-right: 64px;
}

@media screen and (max-width:320px){
    .profile__add-button-cross{
        margin-top: 14px;
        margin-bottom: 14px;
        margin-left:130px;
        margin-right: 132px;
    }
}