.profile-info{
    color:white;
    width: 336px;
    display:grid;
    grid-template-columns: 295px 24px;
    grid-template-rows: auto;
    column-gap: 17px;
}

@media screen and (max-width:320px){
    .profile-info{
        grid-template-columns: 189px 18px;
        column-gap: 10px;
        max-width: 217px;
        margin:22.25px auto 36px;
        align-self: center;
    }
}