.profile-info__name{
    margin-top:18px;
    margin-bottom:16px;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    max-height: 43px;
}

@media screen and (max-width:320px){
    .profile-info__name{
        margin-top:0;
        margin-bottom: 14px;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        max-width: 189px;
        text-align: center;
    }
}