.profile__elements{
    color:white;
    display:grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content;
    column-gap: 17px;
    row-gap: 16px;
}

@media screen and (max-width:320px){
    .profile__elements{
        grid-template-columns: 189px 18px;
        column-gap: 10px;
        row-gap: 14px;
        max-width: 217px;
        margin:0 auto 36px;
        align-self: center;
    }
}