.popup__content{
    background-color: white;
    color:black;
    max-width: 430px;
    max-height: 330px;
    align-self: center;
    padding:34px 36px 37px 36px;
    border-radius: 10px;
    position:absolute;
}

@media screen and (max-width:320px){
    .popup__content{
    max-width: 282px;
    padding:25px 22px 25px 22px
    }
}